---
layout: 2023/default
section: proposals
title: Propuestas para sala Distros Linux España&#58; Encuentro de Distribuciones Linux de esLibre 2023
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h3 class="main-header display-4" style="font-size: 35px !important;"><strong>Propuestas para sala "Distros Linux España: Encuentro de Distribuciones Linux" de es<span class="red">Libre</span> 2023</strong></h3>
  </div>
</div>
<hr class="my-4">

<p>
  Espacio para compartir ideas, iniciativas, buenas prácticas en el desarrollo y mantenimiento de distribuciones linux desarrolladas o mantenidas. Para ello se puede dar cabida a: Ponencias, Talleres, mesas redondas o zonas de debate. Algunas
  propuestas iniciales: instaladores, versiones de base, entornos de escritorio, mantenimiento de aplicaciones, rolling-release… Puedes encontrar la información sobre la sala en la <a
    href="https://propuestas.eslib.re/2023/salas/encuentro-distribuciones-linux" target="_blank">página de su propuesta</a>.<br><br>
  En esta página encontraras todas la información detallada sobre las <strong>propuestas del programa específico de esta sala</strong>. Si estás buscando las propuestas del programa general de esta edición de <strong>es<span
      class="red">Libre</span></strong>, puedes encontrarla en la
  <a href="https://propuestas.eslib.re/2023/" target="_blank">página principal</a>.<br><br>
</p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Charlas</h2>
      <ul id="talks">
        {% for talk in site.pages %}
        {% if talk.path contains '2023/charlas' and talk.path contains '.md' and talk.category == 'talks' %}
        {% unless talk.state == 'canceled' %}
        <li style="padding-bottom: 0.5em;"><a href="/{{ talk.path | remove_first: ".md" }}">{{ talk.author }} - {{ talk.title }}</a></li>
        {% endunless %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
